* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'; }

body {
  width: 100%;
  height: 100%;
  background-color: grey; }

/* extend */
.contenedorMain, .mainCiudadgaucha, .mainQuilmesCultura, .mainContactos, .mainGaleria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-bottom: 20px;
  padding: 10px;
  margin: 50px;
  background-color: #fae8e8;
  color: #404049;
  box-shadow: 0 0 20px #58587e;
  border-radius: 10px; }

/* mixin */
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #58587e;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  height: auto; }
  header a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px; }
    header a img {
      border-radius: 50%;
      padding: 2px; }
      header a img:hover {
        transform: scale(1.2);
        transition: 0.5s; }

ul {
  display: none;
  justify-content: center;
  align-content: center;
  padding: 50px; }
  ul li {
    list-style: none; }
    ul li a {
      color: white;
      padding: 5px;
      text-decoration: none; }
      ul li a:hover {
        color: #58587e;
        background-color: aliceblue;
        transform: scale(1.1);
        border-radius: 10px;
        transition: 0.8s; }

header .barraNavegacion {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white; }
  header .barraNavegacion:hover {
    box-shadow: 0 2px  violet;
    transition: 0.3s; }

.btn-group {
  margin: 2px; }

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  background-color: #6565b8; }
  .footer .contenedoresRedes {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: white; }
    .footer .contenedoresRedes i:hover {
      transform: scale(1.4);
      transition: 0.7s; }

/* contenedor main de index */
.contenedorMain, .mainCiudadgaucha, .mainQuilmesCultura, .mainContactos, .mainGaleria {
  padding: 1rem; }
  .contenedorMain .imgPrincipal, .mainCiudadgaucha .imgPrincipal, .mainQuilmesCultura .imgPrincipal, .mainContactos .imgPrincipal, .mainGaleria .imgPrincipal {
    width: 100%;
    padding: 5px; }
    .contenedorMain .imgPrincipal img, .mainCiudadgaucha .imgPrincipal img, .mainQuilmesCultura .imgPrincipal img, .mainContactos .imgPrincipal img, .mainGaleria .imgPrincipal img {
      width: 100%; }

/* contenedor 1 */
.contenedor-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: auto;
  height: auto;
  display: flex;
  padding: 20px; }

/* contenedor 15 */
.contenedor-15 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: auto;
  height: auto;
  display: flex;
  padding: 20px;
  width: 100%; }
  .contenedor-15 .desdelastablas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%; }

/* section 2 */
.contenedor-2 {
  display: grid;
  justify-content: center;
  background-color: #5f9797;
  box-shadow: 0 0 15px #58587e;
  border-radius: 10px;
  width: 100%;
  padding: 0;
  margin: 30px; }
  .contenedor-2 .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-decoration: none; }
    .contenedor-2 .botones a {
      text-decoration: none;
      color: white; }
      .contenedor-2 .botones a:hover {
        text-decoration: none;
        color: white;
        transform: scale(1.4);
        transition: 0.7s; }

/* contenedor 3 */
.contenedor-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 40px; }
  .contenedor-3 .mapa {
    display: flex;
    justify-content: center;
    align-items: center; }

.contenedor-35 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px; }

/* contenedor 4 */
.contenedor-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 40px; }
  .contenedor-4 .textoCultura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    width: 100%; }

.contenedor-45 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 40px; }
  .contenedor-45 .incaa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    width: 100%; }

/* contenedor 6 */
.contenedor-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 40px; }

.contenedor-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 40px; }
  .contenedor-7 img {
    margin-bottom: 20px; }

/* main quilmes ciudad gaucha */
.mainCiudadgaucha {
  padding: 1rem; }
  .mainCiudadgaucha .mapa {
    width: 100%;
    padding: 10px; }

/* main Quilmes cultura */
.mainQuilmesCultura {
  padding: 1rem; }
  .mainQuilmesCultura .img {
    margin: 5px;
    display: flex;
    justify-content: center; }
    .mainQuilmesCultura .img img {
      padding: 10px;
      width: 30%; }

/* main Contactos */
.mainContactos {
  padding: 1rem; }
  .mainContactos .contactos {
    min-height: 50vh;
    display: grid;
    justify-content: center;
    align-items: center; }
    .mainContactos .contactos input {
      margin-bottom: 10px;
      border: none;
      border-radius: 10px; }
    .mainContactos .contactos h2 {
      text-align: center;
      margin-bottom: 10px; }
    .mainContactos .contactos textarea {
      margin-bottom: 10px;
      border: none;
      border-radius: 10px; }

.botones {
  display: flex;
  justify-content: center;
  align-items: center; }
  .botones .boton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase; }

/* main galeria */
.mainGaleria {
  padding: 1rem; }
  .mainGaleria img {
    width: 100%; }

/* media queries */
@media screen and (min-width: 768px) {
  .contenedor-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 20px;
    padding: 40px; }
    .contenedor-1 .imgPrincipal {
      width: 50%; }
      .contenedor-1 .imgPrincipal img {
        width: 100%; } }

@media screen and (min-width: 768px) {
  .textoPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    padding: 30px; } }

@media screen and (min-width: 768px) {
  .contenedor-15 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    margin: 10px;
    padding: 20px; }
    .contenedor-15 .desdelastablas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 50%;
      padding: 30px; } }

@media screen and (min-width: 768px) {
  .contenedor-2 {
    display: flex;
    padding: 20px;
    margin: 0px;
    border-radius: 30px; }
    .contenedor-2 .botones {
      border: 1px solid white;
      background-color: #51a5a5;
      border-radius: 20px;
      margin: 10px;
      padding: 10px; } }

@media screen and (min-width: 768px) {
  ul {
    display: flex; }
  .btn-group {
    display: none; } }

@media screen and (min-width: 768px) {
  .contenedor-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px; }
    .contenedor-3 .mapa {
      display: flex;
      justify-content: center;
      align-items: center; } }

@media screen and (min-width: 768px) {
  .contenedor-35 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px;
    width: auto; } }

@media screen and (min-width: 768px) {
  .contenedor-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 40px; }
    .contenedor-4 .textoCultura {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 30px;
      width: 70%; } }

@media screen and (min-width: 768px) {
  .contenedor-45 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    padding: 40px; }
    .contenedor-45 .incaa {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 30px;
      width: 70%; } }
