/* extend */
.contenedorMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 20px;
    padding: 10px;
    margin: 50px;
    background-color: rgb(250, 232, 232);
    color: rgb(64, 64, 73);
    box-shadow: 0 0 20px $colorPrimario;
    border-radius: 10px;
}