


/* contenedor main de index */

.contenedorMain {
    padding: 1rem;
    @extend .contenedorMain; 
        .imgPrincipal {
            width: 100%;
            padding: 10px;
            img {
                width: 100%;
            }
        }
    }


/* section 2 */

.contenedor-2 {
    display: grid;
    justify-content: center;
    background-color: rgb(81, 165, 165);
    box-shadow: 0 0 15px $colorPrimario;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
    .botones {
        @include centrarCaja;
        width: 100%;
        margin: 0px;
        padding: 5px;
        text-decoration: none;
        a {
            text-decoration: none;
            &:hover {
            text-decoration: none;
            color:white;
            transform: scale(1.4);
            transition: 0.7s;
            }
        }   
    }
}

/* main quilmes ciudad gaucha */

.mainCiudadgaucha {
    padding: 1rem;
        @extend .contenedorMain;
         .mapa {
            width: 100%;
            padding: 10px;
        }
    }


/* main Quilmes cultura */

.mainQuilmesCultura {
    padding: 1rem;
        @extend .contenedorMain;
        .img {
            margin: 5px;
            display: flex;
            justify-content: center;        
            img {
            padding: 10px;
            width: 30%;
            }
        } 
    }


/* main Contactos */

.mainContactos {
    padding: 1rem;
    @extend .contenedorMain;
        .contactos {
            min-height: 50vh;
            display: grid;
            justify-content: center;
            align-items: center;
            h2 {
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }

.botones {
    @include centrarCaja;
     .boton {
        border: none;
        padding: 5px;
        border-radius: 5px;
        text-transform: uppercase;
     }
}

/* main galeria */

.mainGaleria {
    padding: 1rem;
    @extend .contenedorMain;
     img {
         width: 100%;
     }
}
  

