


/* contenedor main de index */

.contenedorMain {
    padding: 1rem;
    @extend .contenedorMain; 
        .imgPrincipal {
            width: 100%;
            padding: 5px;
            img {
                width: 100%;
            }
        }
    }

    /* contenedor 1 */
.contenedor-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
} 

/* contenedor 15 */

.contenedor-15 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
    width: 100%;
    .desdelastablas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
    }
} 

/* section 2 */

.contenedor-2 {
    display: grid;
    justify-content: center;
    background-color: rgb(95, 151, 151);
    box-shadow: 0 0 15px $colorPrimario;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    margin: 30px;
    .botones {
        @include centrarCaja;
        width: 100%;
        margin: 0px;
        padding: 5px;
        text-decoration: none;
        a {
            text-decoration: none;
            color: white;
            &:hover {
            text-decoration: none;
            color:white;
            transform: scale(1.4);
            transition: 0.7s;
            }
        }   
    }
}

/* contenedor 3 */

.contenedor-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px;
    .mapa {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contenedor-35 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
} 

/* contenedor 4 */

.contenedor-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px;
    .textoCultura {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 20px;
        width: 100%;
    }
}

.contenedor-45 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px;
    .incaa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 20px;
        width: 100%;
    }
}

/* contenedor 6 */

.contenedor-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px;
}


.contenedor-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px;
    img {
        margin-bottom: 20px;
    }
}
/* main quilmes ciudad gaucha */

.mainCiudadgaucha {
    padding: 1rem;
        @extend .contenedorMain;
         .mapa {
            width: 100%;
            padding: 10px;
        }
    }


/* main Quilmes cultura */

.mainQuilmesCultura {
    padding: 1rem;
        @extend .contenedorMain;
        .img {
            margin: 5px;
            display: flex;
            justify-content: center;        
            img {
            padding: 10px;
            width: 30%;
            }
        } 
    }


/* main Contactos */

.mainContactos {
    padding: 1rem;
    @extend .contenedorMain;
        .contactos {
            min-height: 50vh;
            display: grid;
            justify-content: center;
            align-items: center;
            input {
                margin-bottom: 10px;
                border: none;
                border-radius: 10px;
            }
            h2 {
                text-align: center;
                margin-bottom: 10px;
            }
            textarea {
                margin-bottom: 10px;
                border: none;
                border-radius: 10px;
            }
        }
    }

.botones {
    @include centrarCaja;
     .boton {
        border: none;
        padding: 5px;
        border-radius: 5px;
        text-transform: uppercase;
     }
}

/* main galeria */

.mainGaleria {
    padding: 1rem;
    @extend .contenedorMain;
     img {
         width: 100%;
     }
}
  

