/* media queries */

@media screen and (min-width:768px) {

    .contenedor-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin: 20px;
        padding: 40px;
        .imgPrincipal {
                width: 50%;
                img {
                    width: 100%;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .textoPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 50%;
        padding: 30px;
    }
}

@media screen and (min-width:768px) {

    .contenedor-15 {
         display: flex;
        flex-direction: row-reverse;
         justify-content: space-between;
        align-content: center;
        margin: 10px;
        padding: 20px;
        .desdelastablas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 50%;
            padding: 30px;
        }
    }
}

@media screen and (min-width:768px) {
.contenedor-2 {
        display: flex;
        padding: 20px;
        margin: 0px;
        border-radius: 30px;
        .botones {
            border: 1px solid white;
            background-color: rgb(81, 165, 165);
            border-radius: 20px;
            margin: 10px;
            padding: 10px;
        }
    } 
}

@media screen and (min-width:768px) {
    ul {
        display: flex;
    }
    .btn-group {
        display: none;
    }
}

